<ion-view view-title="About">
    <ion-content class="credits">
        <br />
        <h2 class="white">What is this app?</h2>
        <h4 class="white">
            Just another IONIC app built by yet another ordinary person in Hwa Chong.
        </h4>
        <hr />
        <h2 class="white">Version:</h2>
        <h4 class="white">
            0.0.2 <br /><br /> Thanks for being a early supporter.
        </h4>
        <hr />
        <h2 class="white">CEO:</h2>
        <h4 class="white">
            It's MEEEE! This app is done by Won Ying Keat. <br /><br />
            <b>My roles:</b> Sole Project, Technical, UI, Problem Developer. AKA: Programmer.
        </h4>
        <hr />
        <h2 class="white">Credits:</h2>
        <h4 class="white">
            Thanks to Ragul and JieFeng for their old JSON code. Thanks to random people for the images. Thanks to StackOverflow & Ionic
            Forum for all making this app possible.
        </h4>
        <hr />
        <h2 class="white">ChangeLog:</h2>
        <h4 class="white">
            0.0.2 => Fixed many bugs that persist during deployment 'Kn0wL3dg3-' (Pt 1)
            <br />
            0.0.1 => First stable release!
        </h4>
        <hr />
        <h2 class="white">Collaboration</h2>
        <h4 class="white">
            If you are interested in making this app better, contact me at yingkeatwon@gmail.com <br /> Sorry I don't really
            accept contributions.
        </h4>
        <hr />
        <h2 class="white">App rationale</h2>
        <h4 class="white">
            Made this app for fun and to test out with the usage of beacons that you will be experiencing using the TOUR GUIDE tool.
            Also note that if you are looking through this on the day of the Open House and are looking for something, the
            thing you need is after the hash #15-K1ng (Pt 2) I hope the next few batch can improve
            on this to make it even better, possibly coding natively in Java (Crazy) or try IONIC.
        </h4>
        <hr />
    </ion-content>
</ion-view>
