<ion-view view-title="Capture the {FLAGS}">
    <ion-content>
        <ion-list ng-if="network">
            <a class="item item-icon-left" ui-sref="leaderboard">
                <i class="icon ion-android-clipboard"></i> Score
                <span class="item-note">
                    {{user.score}} / 3000
                </span>
            </a>

            <div ng-repeat="level in levels">
                <ion-item class="item-stable" ng-click="toggleLevel(level)" ng-class="{active: isLevelShown(level)}">
                    <i class="icon" ng-class="isLevelShown(level) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{level.name}}
                </ion-item>
                <ion-item class="item-accordion" ng-repeat="item in level.items" ng-show="isLevelShown(level)" ng-click="openModal(item)">
                    {{item.name}}
                </ion-item>
            </div>
        </ion-list>
        <div ng-if="!network">
            Hello;
        </div>
    </ion-content>
</ion-view>
