<ion-view view-title="Explore the faculties">
    <ion-content scroll="false">
        <ion-slides slider="data.slider" options="options">
            <ion-slide-page>
                <img class="stretch" src="img/fac/aries.png" />
            </ion-slide-page>
            <ion-slide-page>
                <img class="stretch" src="img/fac/apollo.png" />
            </ion-slide-page>
            <ion-slide-page>
                <img class="stretch" src="img/fac/artemis.png" />
            </ion-slide-page>
            <ion-slide-page>
                <img class="stretch" src="img/fac/athena.png" />
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>
