<ion-view view-title="Instructions">
    <ion-content>
        <div class="card">
            <div class="item item-divider item-dark">
                Capture The {Flag}
            </div>
            <div class="item item-text-wrap justify">
                Capture the {Flag} is a simple game made for the Open House to make the experience unique for most of you. <br
                /><br /> To begin, proceed to the game page and choose a level to play. However, we made your life difficult
                by not allowing a copy and paste function. 030 (We recommend writing it on a notebook though)<br />There
                are a few modes:
                <h1><b>Levels</b></h1>
                Test your knowledge in the various fields. There is nothing unsolvable as long as you make Google your friend.
                <h1><b>Kamikaze</b></h1>
                Random, ingenious, screwed-up challenges that you will never expect. Remember that the greatest opponent is yourself. Only
                1 person gets all the rewards.
                <h1><b>Timed Challenge</b></h1>
                Once began, you only have a set amount of time to complete. Take note of the time and have fun!
            </div>
            <div class="item item-divider item-royal" ui-sref="tab.activities">
                Click here to play now!
            </div>
        </div>
        <div class="card">
            <div class="item item-divider item-assertive">
                Tour Guide
            </div>
            <div class="item item-text-wrap justify">
                A unique experience for you and others who are interested in touring the school. Simply switch on your bluetooth and internet
                access to enjoy the realtime information. We will display interesting locations around your area so that
                you would have a pleasant time in HCI! <br /><br />Note: (Esp for Android Users), pls give this app the permissions to
                use location if you are running Android 6 and above... If not nothing will show.
            </div>
            <div class="item item-divider item-balanced" ui-sref="guide">
                Click here to try it now!
            </div>
        </div>
    </ion-content>
</ion-view>
