<ion-view view-title="HC Open House 2017">
    <ion-content class="padding">
        <button class="button button-full button-calm start">
            Game Start!
        </button>
        <div class="col">Earn the most points to win a prize!</div>
        <hr />
        <div class="bottom-buttons">
            <div class="row">
                <div class="col">
                    <button class="button button-clear button-positive icon-left ion-information-circled">Information</button>
                </div>
                <div class="col">
                    <button class="button button-clear button-positive icon-left ion-ios-calendar">Schedule</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="button button-clear button-positive icon-left ion-podium">Leaderboard</button>
                </div>
                <div class="col">
                    <button class="button button-clear button-positive icon-left ion-clipboard">Credits</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
