<ion-view view-title="Account">
    <ion-content>
        <h2 class="center">Login</h2>
        <form name="signin" novalidate>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email" ng-model="user.email" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="user.password" required>
                </label>
            </div>
        </form>
        <button class="button button-block button-calm" ng-click="login()" ng-disabled="signin.$invalid">Login</button>
    </ion-content>
</ion-view>
