<ion-view view-title="HCI Report Card">
    <ion-content>
        <div class="list card">
            <div class="item item-divider">
                Live with Passion. Lead with Compassion.
            </div>
            <ion-item class="item item-body">
                <img class="full-image" src="img/main/Love.jpg">
                <p>
                    Through the years, Hwa Chong Institution has nurtured leaders for the nation in the highest echelons of research, industry
                    and government. Our aim is to maximise every student’s potential, and to prepare them for life in the
                    new global age.
                </p>
            </ion-item>
        </div>

        <div class="list card">
            <div class="item item-divider">
                Best of EAST and WEST
            </div>
            <ion-item class="item item-body">
                <img class="full-image" src="img/main/eastmeetswest.png">
                <p>
                    At the heart of the Hwa Chong programme is the emphasis we place on moral and character education. The best of Chinese values
                    and Western ideas that have had a strong impact on society are infused into our school curriculum and
                    culture.
                </p>
            </ion-item>

        </div>

        <div class="list card">
            <div class="item item-divider">
                Passion Driven Learning
            </div>
            <ion-item class="item item-body">
                <img class="full-image" src="img/main/OP.jpg">
                <p>
                    At Hwa Chong, students enjoy a holistic education that puts them in touch with the dynamics and challenges of the real world.
                    Every Hwa Chong student receives a rigorous curriculum that emphasises leadership, character building,
                    academic excellence and creativity.
                </p>
            </ion-item>

        </div>

        <div class="list card">
            <div class="item item-divider">
                Character and Leadership
            </div>
            <ion-item class="item item-body">
                <img class="full-image" src="img/main/leaders.jpg">
                <p>
                    We want to engender passion and compassion in Hwa Chong students; to hone them into leaders who are not only responsible
                    to self, family and country, but who can also help sustain humanity and transform society.
                </p>
            </ion-item>

        </div>

        <div class="list card">
            <div class="item item-divider">
                Peaks of Excellence
            </div>
            <ion-item class="item item-body">
                <img class="full-image" src="img/main/caligraphy.png">
                <p>
                    A commitment to excellence is a hallmark of Hwa Chong, whose mission is to nurture leaders for the nation. Besides producing
                    some of the nation’s top scholars at the GCE A- Level Exams, our students have also brought pride to
                    Singapore and the school with 49 World Championship titles from 2006-2017.
                </p>
            </ion-item>

        </div>

        <div class="list card">
            <div class="item item-divider">
                Forefront of Innovation
            </div>
            <ion-item class="item item-body">
                <img class="full-image" src="img/main/innovate.jpg">
                <p>
                    HCI was featured as one of the World’s Most Innovative Schools in 2009 by the South China Morning Post, Hong Kong’s premier
                    English daily. With exciting initiatives in education, HCI is constantly at the frontier of educational
                    change and innovation..
                </p>
            </ion-item>

        </div>

        <div class="list card">
            <div class="item item-divider">
                One Hwa Chong Family
            </div>
            <ion-item class="item item-body">
                <img class="full-image" src="img/main/OneFamily.jpg">
                <p>
                    The vibrant Hwa Chong community is a close-knit one, with school leaders, staff, teachers, students and alumni coming together
                    to form one large Hwa Chong Family.
                </p>
            </ion-item>

        </div>
    </ion-content>
</ion-view>
