<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{details.name}}</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <!--<img class="full-image" src="{{details.img}}" />-->
        <div class="card">
            <div class="item">
                <h2>Points</h2>
                <p>{{details.score}}</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="{{details.img}}">
                <p>
                    {{details.description}}
                </p>
            </div>
            <div class="item item-divider nowrap center">
                Hint: {{details.hint}}
            </div>
        </div>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Enter the Flag here" ng-model="details.answer">
            </label>
            <button class="button button-full button-positive" ng-click="submitFlag(details.answer, details.id)">Submit</button>
        </div>
    </ion-content>
</ion-modal-view>
