<ion-view view-title="Schedule">
    <ion-content>
        <ion-list>
            <ion-item class="item item-divider">Common Room</ion-item>
            <ion-item class="item">
                <h2>Poetry Slam</h2>
                <p>1200h – 1215h, 1450h – 1500h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Dramatised Reading</h2>
                <p>1305h – 1325h</p>
            </ion-item>
            <ion-item class="item item-divider">Centre Plaza</ion-item>
            <ion-item class="item">
                <h2>Concert Band</h2>
                <p>1220h – 1230h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Chinese Orchestra</h2>
                <p>1230h – 1240h</p>
            </ion-item>
            <ion-item class="item">
                <h2>String Ensemble</h2>
                <p>1240h – 1250h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Guitar Ensemble</h2>
                <p>1250h – 1255h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Harmonica Band</h2>
                <p>1255h – 1305h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Athena Faculty Committee</h2>
                <p>1325h – 1330h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Choir</h2>
                <p>1330h – 1340h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Chinese Dance</h2>
                <p>1340h – 1345h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Artemis Faculty Committee</h2>
                <p>1345h – 1350h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Modern Dance</h2>
                <p>1350h – 1355h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Street Dance</h2>
                <p>1355h – 1405h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Ares Faculty Committee</h2>
                <p>1420h – 1425h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Wushu</h2>
                <p>1425h – 1435h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Taekwondo</h2>
                <p>1435h – 1445h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Apollo Faculty Committee</h2>
                <p>1445h – 1450h</p>
            </ion-item>
            <ion-item class="item">
                <h2>Council Dance</h2>
                <p>1500h – 1510h</p>
            </ion-item>
            <ion-item class="item">
                <h2>SoDaChe</h2>
                <p>1515h – 1545h</p>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
