<ion-view view-title="Settings">
    <ion-content class="padding">
        <!-- For unauthed people, obviously -->
        <div ng-if="!firebaseUser">
            <h2 class="center">Sign Up Now!</h2>
            <form name="loginUser" novalidate>
                <div class="list">
                    <label class="item item-input item-stacked-label">
              <span class="input-label">Display Name</span>
              <input type="text" placeholder="name" ng-model="user.name" required>
            </label>
                    <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="email" placeholder="memes@meme.com" ng-model="user.email" required>
            </label>
                    <label class="item item-input item-stacked-label">
              <span class="input-label">Password</span>
              <input type="password" placeholder="password" ng-model="user.password" required>
            </label>
                    <button class="button button-full button-positive" ng-click="signUp()" ng-disabled="loginUser.$invalid">
              Sign up!
            </button>
                </div>
            </form>
            <hr />
            <h5>Have an account? Login instead:</h5>
            <a ui-sref="login"><button class="button button-full button-royal">              
                    Login
                </button>
            </a>

        </div>
        <!-- For authed people -->
        <div ng-if="firebaseUser">
            <div class="list">

                <li class="item item-icon-left item-toggle">
                    <i class="icon ion-android-notifications"></i> Notifications
                    <label class="toggle" ng-click="toggle()">
                    <input type="checkbox" ng-checked="notifications">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </div>
            <!--   <button class="button button-full button-positive" ng-click="authObj.$signOut()">
              Sign out..
            </button> -->
        </div>
    </ion-content>
</ion-view>
