<ion-view view-title="Settings">
  <ion-content class="padding">
    <h2>Login</h2>
    <form name="loginUser" novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
              <span class="input-label">Username</span>
              <input type="text" placeholder="name" ng-model="user.name" required>
            </label>
        <label class="item item-input item-stacked-label">
              <span class="input-label">Password</span>
              <input type="password" placeholder="password" ng-model="user.password" required>
            </label>
        <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="email" placeholder="memes@meme.com" ng-model="user.email" required>
            </label>
        <button class="button button-full button-positive" ng-click="login()" ng-disabled="loginUser.$invalid">
              Login
            </button>
      </div>

    </form>

  </ion-content>
</ion-view>
