.center,
h5 {
    text-align: center;
}

.start {
    font-size: 40px;
    height: 30vh;
    border-radius: 25px;
}

.col {
    text-align: center;
}

.bottom-buttons {
    margin-top: 5vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.start-but {
    width: 99%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list .item.item-accordion {
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.nowrap {
    white-space: normal !important;
}

.stretch {
    height: 100vh !important;
}

.zoom-pane {
    width: 100%;
    height: 100%;
}

.zoom-pane .scroll {
    min-height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.zoom-pane img {
    width: 100%;
    vertical-align: middle;
}

.justify {
    text-align: justify
}

.credits {
    background-image: url('../img/misc/code.png');
    background-size: cover;
}

.white {
    color: white;
}

.inAppBrowserWrap {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(235, 235, 235, 1.0);
}

.guide {
    width: 100vw;
    height: 80vh !important;
    margin-bottom: 80vh;
}

.dark {
    background: #444;
}
