h2,
h5 {
    text-align: center;
}

.start {
    font-size: 40px;
    height: 30vh;
    border-radius: 25px;
}

.col {
    text-align: center;
}

.bottom-buttons {
    margin-top: 5vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button {
    width: 99%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list .item.item-accordion {
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}
